@import url(https://fonts.bunny.net/css?family=lato:400,900|passero-one:400);

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --light-blue: #4D7C8A;
  --dark-blue: #080D1C;
  --beige: #F0E9CD;
  --white: #FFFFFF;
  --main-font: 'Lato', sans-serif;
}

body {
  font-family: var(--main-font);
  background: linear-gradient(150deg, var(--dark-blue), #1A2445);
}

header {
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.logo {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.logo img {
  width: 200px;
  height: auto;
  transform: rotate(-3deg);
}

.logo-text {
  display: none;
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(-3deg);
  background-color: var(--light-blue);
  color: var(--beige);
  font-family: 'Passero One', display;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
}

.logo:hover .logo-text {
  display: block;
}

.site-title {
  text-align: center;
  transform: rotate(-3deg);
}

.site-title h1 {
  font-family: 'Passero One', display;
  color: var(--beige);
  font-size: 4rem;
  line-height: 3rem;
}

h2 {
  font-family: var(--main-font);
  color: var(--beige);
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-family: var(--main-font);
  color: var(--beige);
  font-size: 1.2rem;
  line-height: 1.5rem;
}

p {
  font-family: var(--main-font);
  color: var(--beige);
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
}

.supertext {
  font-family: var(--main-font);
  color: var(--beige);
  font-size: 1rem;
  font-weight: bold;
}

.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.baseline {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.presentation {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--beige);
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  font-family: var(--main-font);
  padding: 1rem;
  border: 1px solid var(--beige);
  border-radius: 1rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

.question {
  font-size: 1rem;
  line-height: 1rem;
  color: var(--beige);
  padding-bottom: 1rem;
}

#numberInput {
  margin-bottom: 1rem;
  border: 2px solid transparent;
  width: 5em;
  height: 2.5em;
  text-align: center;
  outline: none;
  overflow: hidden;
  background-color: var(--beige);
  border-radius: 4px;
}

#numberInput:focus {
  border: 1px solid var(--light-blue);
}

#numberInput::placeholder {
  color: var(--dark-blue);
  font-style: italic;
}

#okButton {
  background-color: var(--light-blue);
  color: var(--beige);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

#okButton:hover {
  background-color: var(--beige);
  color: var(--dark-blue);
}

pre {
  background-color: var(--beige);
  color: var(--dark-blue);
  padding: 1em;
  border-radius: 5px;
  overflow-x: auto;
  width: 90%;
  max-width: 800px;
  box-sizing: border-box;
  white-space: pre-line;
  margin: 1rem auto;
}

#result p {
  font-family: var(--main-font);
  text-align: center;
  line-height: 2rem;
  color: var(--light-blue);
  font-style: italic;
  padding-top: 1rem;
}

#copyButton {
  display: none;
  background-color: var(--light-blue);
  color: var(--beige);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
  margin: 2em auto 1em auto;
}

#copyButton:hover {
  background-color: var(--beige);
  color: var(--dark-blue);
}

#alert {
  display: none;
  background-color: var(--dark-blue);
  color: var(--beige);
  padding: 10px;
  text-align: center;
  margin: 10px auto;
  border: none;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.6s;
  width: fit-content;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 4em;
  text-align: center;
}

.link-container img {
  width: 150px;
  height: auto;
  margin: 1rem 0;
}

.link-container span {
  font-family: var(--main-font);
  color: var(--beige);
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 2rem;
}

#watchMovieButton {
  background-color: var(--light-blue);
  color: var(--beige);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
  margin: 1em auto;
}

#watchMovieButton:hover {
  background-color: var(--beige);
  color: var(--dark-blue);
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 2em;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
}

footer p {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: var(--beige);
}

footer a {
  color: var(--light-blue);
  text-decoration: none;
}

/* Styles pour les écrans de taille moyenne (tablettes) */
@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
  }

  .logo {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .logo img {
    width: 300px;
  }

  .logo-text {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .site-title {
    text-align: left;
  }

  .site-title h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .presentation-container {
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
  }

  .baseline {
    width: 40%;
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 0;
  }

  .presentation {
    width: 50%;
    padding-left: 1rem;
  }

  .form-container {
    width: 30%;
  }

  pre {
    margin: 2em 15rem 2em 15rem;
  }

  .link-container {
    flex-direction: row;
    justify-content: center;
    margin-top: 5em;
  }

  .link-container img {
    margin: 0 1rem;
  }

  .link-container span {
    font-size: 2rem;
    line-height: 3rem;
  }
}

/* Styles pour les écrans plus grands (desktop) */
@media (min-width: 992px) {
  .site-title h1 {
    font-size: 5rem;
    line-height: 4rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .presentation {
    font-size: 2rem;
    line-height: 2rem;
  }

  .link-container span {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
